* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #333 1.18%, #565656 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  place-items: center; /* Centering the form */
  gap: 17px;
  max-width: 400px; /* Limiting form width */
  margin: 0 auto; /* Centering form */
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.form--input {
  width: 100%;
  height: 40px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  text-indent: 5px;
}

.form--button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #333333 1.14%, #666 100%);
  color: white;
  cursor: pointer;
}

.meme--image {
  max-width: 300px;
  display: block;
  margin: 20px auto; /* Centering meme image */
}
